electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
shamefully-hoist=true
# 允许 electron 和 better-sqlite3 运行 install 脚本
onlyBuiltDependencies=electron,esbuild,better-sqlite3
ignoredBuiltDependencies=cpu-features
